<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
	<appSettings>
		<add key="AutoStart" value="false" />
		<add key="debugMode" value="true" />
		<add key="demoFace" value="false" />

		<add key="CameraID" value="3" />
		<add key="DoorID" value="5" />

		<add key="DispenserComPort" value="7" />
		<add key="DispenserDeviceAddress" value="01" />
		<add key="G4IP" value="192.168.30.177" />
		<add key="G4Port" value="1001" />
		<add key="CardReaderIP" value="192.168.30.155" />
		<add key="CardReaderPort" value="1001" />

		<add key="PlateDetectedElpasedSecAgo" value="30" />
		<add key="FaceDetectedElpasedSecAgo" value="30" />
		<add key="RestTime" value="5" />
		<add key="intervalGetDataFromServerSec" value="1" />


		<add key="showRTSP" value="true" />
		<add key="rtspURL" value="rtsp://admin:12345678Aa@192.168.10.172:554/livecam" />
		<add key="playerPositopn" value="2" /> <!--1: topLeft 2: topRight 3:buttonMiddle-->
		<!--<add key="vlcLibDirectory" value="C:\Program Files\VideoLAN\VLC" />-->





		<add key="ServerAddress" value="http://192.168.10.129:3001" />
		<add key="SqlServerIP" value="192.168.10.129" />
		<add key="SqlServerPort" value="1433" />


	</appSettings>
	<connectionStrings>
		<add name="EosParkingContextConnection" connectionString="Data Source=sf02\sql2019;Initial Catalog=EosParking_work;Persist Security Info=True;User ID=sa;password=@@password" providerName="System.Data.SqlClient" />
	</connectionStrings>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Mono.Security" publicKeyToken="0738eb9f132ed756" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>
