<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EosParkingProfessional.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="ShouldLogUserActivity" value="true"/>
    <add key="ServerAddress" value="http://LocalHost:3001"/>
    <add key="EncryptConfig" value="false"/>
    <add key="PrintAutomatic" value="true"/>
    <add key="DbConnectionDataSource" value="SF02"/>
    <add key="DbConnectionUser" value="sa"/>
    <add key="DbConnectionPass" value="12345678"/>
    <add key="DbConnectionCatalog" value="EosParking"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="SkipMiddlePart" value="false"/><!--غیر فعال کردن حروف پلاک-->
	  <add key="LockServerIp" value="192.168.2.11"/>
	  <add key="LockServerIp_" value="192.168.10.130"/>
	  <!--192.168.2.11آدرس سرویس قفل-->
    <add key="LockServerPort" value="17590"/><!--پورت سرویس قفل-->
    <add key="CameraZoom" value="120"/>
    <add key="DetectPlateRegion" value="200,300,300,200"/>
    <add key="EnableLog" value="true"/><!--فعالیت لاگ با فایلهای parkinglog.txt , parkingRecordlog.txt-->
    <add key="PlateDetectorRequestTimeOut" value="1000"/><!--مدت انتظار برای دریافت جواب از سرور تشخیص پلاک-->
    <add key="PlateDetectorImageProcessSleep" value="100"/><!--فاصله بین پردازش هر عکس-->
    <add key="VideoWidth" value="0"/>
    <add key="VideoHeight" value="0"/>
    <add key="StretchVideo" value="false"/>
    <add key="MotionAlarmLevel" value="-0.015"/><!--درجه حساسیت به حرکت-->
    <add key="ClearFormMinute" value="5"/><!--مدت زمان انتظار برای برای دریافت پلاک جدید در فرم مدیریت ورود و خروج-->
    <add key="CameraImageCompression" value="50"/><!--درجه فشرده سازی تصویر 1-100-->
    <add key="PlateImageSaveDir" value=""/><!--آدرس ذخیره عکس پلاک های تشخیص داده شده-->
	<add key="InitialDbReviewMinute" value="1"/> <!-- زمان اولیه بررسی ورود و خروج از دیتابیس  -->	  
    <add key="MessageDialogTimeoutSecond" value="15"/><!--مدت زمان نمایش  پیام خطا یا هشدار در پنجره ورود و خروج-->
	<add key="RecognitionPlateAccuracyDegree" value="0.85"/><!-- میزان دقت قابل پذیرش تصویر پلاک-->
	<add key="IsSavedPlateImage" value="False"/> <!--ذخیره تصویر پلاک -->
	<add key="UseSimilarPlateForMember" value="False"/> <!--فعال کردن حالت تشخیص پلاک های مشابه اعضا از دیتابیس-->
	  <add key="LcdPriceToman" value="True"/>	  <!--نمایش قیمت در تابلو به تومان -->
	  <add key="ExitPermission" value="false"/>	  <!--فعالسازی بررسی مجوز خروج-->
  </appSettings>
  <applicationSettings>
    <EosParkingProfessional.Properties.Settings>
      <setting name="PlateDetectorLink" serializeAs="String">
        <value>http://192.168.10.132:8080</value>
      </setting>
    </EosParkingProfessional.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="EosParkingContextConnection" connectionString="Data Source=(Local);Initial Catalog=EosParking;Persist Security Info=True;User ID=sa;password=12345678" providerName="System.Data.SqlClient"/>
    <!--<add name="ParkometerContextConnection1" connectionString="Data Source=tcp:130.185.72.140,1433\sql2008;Initial Catalog=TehranMobParkometer;Persist Security Info=True;User ID=EAAAAEHvDTRQnCUvggLYeDt2Ye4KcT+S25mMxrDxgZnlsAWD;password=EAAAAEHvDTRQnCUvggLYeDt2Ye44+WsPev9M3OVU2RSxL2xy"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mono.Security" publicKeyToken="0738eb9f132ed756" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
