<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Datastead.Dotnet.TVideoGrabber.Trial" version="11.1.2.1" targetFramework="net40" requireReinstallation="true" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.VisualStudio.SDK" version="17.10.40171" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.6" targetFramework="net40" />
  <package id="Npgsql" version="2.2.7" targetFramework="net40" requireReinstallation="true" />
  <package id="VsixTesting.Xunit" version="0.1.78" targetFramework="net45" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net40" />
</packages>